body{
  display:flex;
  align-items:center;
  backround-color: white 
};

header{
  color:blue 
  font: sans-serif
};

.gallery{
  display:flex;
  margin: 30px;
  align-items: center;

};
 .profile img{
  height: 100px;
  width: 100px;

 };
 .profile{
  font-size: 20px;
  padding:15 px;
  margin: 5px;
  text-align:center

 };

 .name{
  font:sans-serif;
  font-size: 25px;
  text-align:center
 };
 .role{
  font:sans-serif;
  font-size: 20px;
  text-align:center;
 }
